body { /* Everything obeys this as default if no override. */
    font-family: "Libre Franklin",Arial, sans-serif;
    background-color: #F0F0F0;
    margin: 0;
    font-size: max(1vw,10px);
}


li {
    list-style-type: none;
    padding: 0.2em;
}
/*
form {
    border: 1px solid black;
    border-radius: 4px;
}
*/
.hidden, .wrongpage {
    display: none;
}

#heading {
    position: fixed;
    top: 2vh;
    left: 2vw;
    width: 94vw; /* 2 outside, 1 padding, 94 text, 1 padding, 2 outside */
    height: 20vh;
    background-color: #2EA3F2;
    height: 20vh;
    margin: 0;
    padding-left: 1vw;
    padding-right: 1vw;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top-left-radius: 1vmin;
    border-top-right-radius: 1vmin;
    font-size: 4vh;
    font-weight: bold;
}

#toolbar {
    background-color: #B0D9F5;
    position: fixed;
    top: 22vh;
    left: 2vw;
    width: 94vw;
    height: 10vh;
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: left;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-size: 3vh;
}

#questions {
    background-color: #E0E0E0;
    position: fixed;
    top: 32vh;
    left: 2vw;
    width: 94vw;
    padding: 1vw;
    height: 66vh;
    overflow: auto;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}